
.cartItems-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  place-items: center;

}

.cartitems{
  background-color: #ffffffa7;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px #0000001a;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  
  
  padding: 1rem 1rem;
  gap: 1rem;
  width: 450px;
  border-radius: 20px;
  flex: 1;
  
}

.cartitemsBigImg{
  width: 440px;
}

.cartItemIcon{
  width: 50px;
}

.cartItemsDetails{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartitemsTitle{
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}

.cartitemsPrice{
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
}

.cartitemsIcons{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  align-items: center;
}

.cartitemsIcons p{
  font-size: 30px;
  font-weight: 500;
}

.itemAmount{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin: 10px 0;
  color: red;
}



.cartitems hr{
  height: 3px;
  background: #e2e2e2;
  border: 0;
}



.cartitems-format{
  font-size: 17px;    
  font-weight: 500;
}

.cartitems-remove-icon{
  padding: 1px 2px;
  height: 50px;
  border: 2px solid #ebebeb ;
  background: white;
  cursor: pointer;  
}


.cartitems-quantity{
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb ;
  background: white;
}

.cartitems-down{
  display: flex;
  margin: 100px 0;
}

.cartitems-total{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}

.cartitems-total-item{
  display: flex;
  justify-content: space-between;
  padding: 15px 0;

}

.cartitems-total button{
  width: 262px;
  height: 58px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 1000px){
  .cartItems-container{
    grid-template-columns: 1fr;
    gap: 30px;
  }

}








