
.cartItems-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  place-items: center;
  gap: 20px;

}

.cartitems{
  background-color: #ffffffa7;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px #0000001a;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  
  
  padding: 1rem 1rem;
  gap: 1rem;
  width: 450px;
  border-radius: 20px;
  flex: 1;
  
}

.cartitemsBigImg{
  width: 440px;
}

.cartItemIcon{
  width: 50px;
}

.cartItemsDetails{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartitemsTitle{
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}

.cartitemsPrice{
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
}

.cartitemsIcons{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  align-items: center;
}

.cartitemsIcons p{
  font-size: 30px;
  font-weight: 500;
}

.itemAmount{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin: 10px 0;
  color: red;
}



.cartitems hr{
  height: 3px;
  background: #e2e2e2;
  border: 0;
}







.cartitems-total{
  display: flex;
  margin: 100px auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  width: 800px;
  
}


.cartitems-total-item{
  display: flex;
  justify-content: space-between;
  padding: 15px 0;

}

.cartitems-total-title{
  font-size: 50px;
  align-self: center;
  font-weight: 700;
}

.cartitems-total-item p, .cartitems-total-item h3 {
  font-size: 30px;
  font-weight: 600;
}

.cartitems-total-button{
  width: 350px;
  height: 100px;
  outline: none;
  border: none;
  background: red;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  align-self: center;
}

@media (max-width: 1000px){
  .cartItems-container{
    grid-template-columns: 1fr;
    gap: 30px;
  }

}

@media (max-width: 500px){
  .cartitems{
    width: 300px;
  }

  .cartitemsBigImg{
    width: 290px;
  }

  .cartItemIcon{
    width: 30px;
  }

  .cartitemsTitle{
    font-weight: 500;
    font-size: 25px;
    
  }

  .cartitemsPrice{
    font-weight: 500;
    font-size: 20px;
  }

  .cartitemsIcons p{
    font-size: 20px;
    font-weight: 500;
  }

  .itemAmount{
    font-size: 20px;
    font-weight: 400;
  }
  
}

@media (max-width: 1000px){
  .cartitems-total-title{
    font-size: 35px;
 
  }

  .cartitems-total-item p, .cartitems-total-item h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .cartitems-total-button{
    width: 300px;
    height: 60px;
    font-size: 20px;
  
  }
  .cartitems-total{

    width: 400px;
    
  }
  
}

@media (max-width: 450px){
  .cartitems-total-title{
    font-size: 25px;
 
  }



  .cartitems-total-button{
    width: 220px;
    height: 40px;
    font-size: 13px;
  
  }
  .cartitems-total{

    width: 200px;
    
  }
  
}









