.newsletter{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: auto;
  padding: 40px 140px;
  margin-bottom: 50px;  
  background: linear-gradient(180deg, #f9fafa 0%, #e1ffea22 60%); 
  gap: 30px;

}

.newsletter h2{
  color: #454545;
  font-size: 55px;
  font-weight: 600;
  
}

.newsletter p{
  color: #454545;
  font-size: 20px;
}


.newsletter input{
  width: 500px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: black;
  font-size: 16px;
  background-color: #EEEEEE;
}

.newsletter div button{
  width: 210px;
  height: 70px;
  border-radius: 80px;
  background: #1f1f1f;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

@media (min-width: 801px){
  .newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #1f1f1f;
  }
}


@media (max-width: 800px){
  .newsletter{
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0;
    

  }

  .newsletter input{
   width: 80%;
   margin-left: 0;
   margin-bottom: 10px;
   border-radius: 9999px;
   border: 1px solid #1f1f1f;
   padding: 1.25rem;
  }

  .newsletter div button{
    width: 80%;
    padding: 1.25rem;
    border: 1px;
    
    margin: 20px 0 10px 20px;

  }

  .newsletter h2{
    font-size: 30px;
    
    
  }
}