.offers{
  width: 65%;
  display: flex;  
  margin: 80px auto;
  padding: 30px 140px;
  margin-bottom: 0;
  background: linear-gradient(180deg, #f9fafa 0%, #e1ffea22 60%);
}

.offers-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offers-left h2{
  color: #171717;
  font-size: 80px;
  font-weight: 600;

}

.offers-left p{
  color: #171717;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2rem;

}

.offers-left button{
  max-width: 300px;
  padding: 1.5rem 1.75rem;
  border-width: 1px;
  border-radius: 9999px;  
  background: #1f1f1f;
  color: white;
  font-size: 18px;
  line-height: 22.94px;
  font-weight: 500;
  cursor: pointer;
}

.offers-right{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}


.exclusiveAudi-img{
  object-fit: contain;
  width: 600px;
}

@media (max-width: 1200px) {
  .offers{
    
    flex-direction: column;
    
    
  }
  .exclusiveAudi-img{
    
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .offers-left br{
    display: none;
  }

  .offers-left h2{
    
    font-size: 50px;
    font-weight: 600;
  
  }
  
 

}


@media (max-width: 550px) {
  .offers-left h2{
    
    font-size: 30px;
    font-weight: 600;
  
  }
  .offers-left p{
    color: #171717;
    font-size: 15px;
    font-weight: 600;
    
  
  }

  .offers{
    padding: 30px 30px;
  }


}

