.popular{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 5rem;
  justify-content: center;
  
  
}

.popular h1{
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.popular hr{
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
  
   
}
.popular-item{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
 gap: 30px;
 align-items: center;
 justify-content: center;

 

}

@media (max-width: 1250px){
 
  .popular-item{
    
    grid-template-columns: 1fr 1fr;
    
    gap: 50px;

   
   
  
  }
    
  }



      @media (max-width: 850px){
       
       

        .popular-item{
    
          grid-template-columns: 1fr ;                  
          
        
        }
      
          
        }

        @media (max-width: 550px){
          .popular h1{
            font-size: 30px;
          }

          .popular hr{
            width: 30%;
            height: 6px;
            border-radius: 10px;
            background: #252525;
            
             
          }
       
        
            
          }