.productdisplay{
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  position: relative;
}

.productdisplay-main-img{
  height: 800px;  
  width: 1220px;
  
  position: relative;
  
}

.productdisplay-img-list{
  display: flex;
  gap: 1.5rem;
  position: absolute;
  bottom: -5%;
}

.productdisplay-img{
 border-width: 3px;
 border-style: solid;
 
 border-radius: 0.74rem;
 cursor: pointer;
}

.productdisplay-img img{
  width: 254px;
  height: 206px;
  object-fit: contain;
  
}

.productdisplay-title{
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.productdisplay-title h2{
  font-size: 80px;
  font-weight: 700;
}

.productdisplay-category{
  margin-top: 10px;
  font-size: 30px;
}

.productdisplay-category span{
  font-weight: 600;
}

.productdisplay-stars{
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 10px;
  color: red;
  font-size: 50px;
  justify-content: center;
}

.productdisplay-stars img{
  width: 50px;
}


.productdisplay-prices{
  display: flex;
  margin: 40px 0;
  gap: 30px;
  font-size: 50px;
  font-weight: 700;
  justify-content: center;
}

.productdisplay-price-old{
  text-decoration: line-through;
  color: #818181;       
}

.productdisplay-price-new{
  color: red;
}

.productdisplay-description{
  margin: 15px auto;
  font-size: 30px;  
}

.display-button-container{
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.display-button{
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #1f1f1f;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.productdisplay-right-colors div{
  padding: 18px 24px;
  background: #fefefe;
  border: 1px solid rgb(188, 177, 177);
  border-radius: 3px;
  cursor: pointer;
}





@media (max-width: 400px){
  
}