.productdisplay{
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  position: relative;
}

.productdisplay-main-img{
  height: 800px;  
  width: 1220px;
  
  position: relative;
  
}

.productdisplay-img-list{
  display: flex;
  gap: 1.5rem;
  position: absolute;
  bottom: -5%;
}

.productdisplay-img{
 border-width: 3px;
 border-style: solid;
 
 border-radius: 0.74rem;
 cursor: pointer;
}

.productdisplay-img img{
  width: 254px;
  height: 206px;
  object-fit: contain;
  
}

.productdisplay-right{
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.productdisplay-right h2{
  font-size: 40px;
  font-weight: 700;
}

.productdisplay-right-stars{
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: red;
  font-size: 16px;
}

.productdisplay-right-prices{
  display: flex;
  margin: 20px 0;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}

.productdisplay-right-price-old{
  text-decoration: line-through;
  color: #818181;       
}

.productdisplay-right-price-new{
  color: red;
}

.productdisplay-right-description{
  margin-bottom: 15px;
}

.productdisplay-right-color h2{
  /* margin-top: 20px; */
  font-size: 30px;
  font-weight: 600;
}

.productdisplay-right-colors{
  display: flex;
  margin: 15px 0 30px 0;
  gap: 20px;
}

.productdisplay-right-colors div{
  padding: 18px 24px;
  background: #fefefe;
  border: 1px solid rgb(188, 177, 177);
  border-radius: 3px;
  cursor: pointer;
}

.productdisplay-right button{
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #1f1f1f;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

.productdisplay-right-category{
  margin-top: 10px;
}

.productdisplay-right-category span{
  font-weight: 600;

}

@media (max-width: 400px){
  
}