.productdisplay{
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  position: relative;
}

.productdisplay-main-img{
  height: 800px;  
  width: 1220px;
  
  position: relative;
  
}

.productdisplay-img-list{
  display: flex;
  gap: 1.5rem;
  position: absolute;
  bottom: -5%;
}

.productdisplay-img{
 border-width: 3px;
 border-style: solid;
 
 border-radius: 0.74rem;
 cursor: pointer;
}

.productdisplay-img img{
  width: 254px;
  height: 206px;
  object-fit: contain;
  
}

.productdisplay-title{
  margin: 50px auto 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.productdisplay-title h2{
  font-size: 80px;
  font-weight: 700;
}

.productdisplay-category{
  margin-top: 10px;
  font-size: 30px;
}

.productdisplay-category span{
  font-weight: 600;
}

.productdisplay-stars{
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 10px;
  color: red;
  font-size: 50px;
  justify-content: center;
}

.productdisplay-stars img{
  width: 50px;
}


.productdisplay-prices{
  display: flex;
  margin: 40px 0;
  gap: 30px;
  font-size: 50px;
  font-weight: 700;
  justify-content: center;
}

.productdisplay-price-old{
  text-decoration: line-through;
  color: #818181;       
}

.productdisplay-price-new{
  color: red;
}

.productdisplay-description{
  margin: 15px auto;
  font-size: 30px;  
  width: 90%;
}

.display-button-container{
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.display-button{
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #1f1f1f;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}







@media (max-width: 1100px){
  .productdisplay-main-img{
    height: 700px;  
    width: 1000px;
    
  }

  .productdisplay-img img{
  width: 204px;
  height: 156px;
  
  
}


}

@media (max-width: 900px){
  .productdisplay-main-img{
    height: 500px;  
    width: 800px;
    
  }
  .productdisplay-img{
    border-width: 2px;
  }
  
    .productdisplay-title h2{
    font-size: 50px;
    font-weight: 700;
  }
  .productdisplay-category{
    margin-top: 10px;
    font-size: 20px;
  }

  .productdisplay-stars{
    font-size: 30px;

  }

  .productdisplay-stars img{
    width: 25px;
  }

.productdisplay-prices{
  font-size: 30px;
}

  
}

@media (max-width: 700px){
  .productdisplay-main-img{
    height: 400px;  
    width: 500px;
    
  } 

  .productdisplay-img img{
    width: 124px;
    height: 86px;
    
    
  }

  .productdisplay-title h2{
    font-size: 40px;
    font-weight: 700;
  }

  .productdisplay-description{
    font-size: 20px;
  }

  .display-button-container{
    /* flex-direction: column; */
    align-items: center;
    width: 90%;
    
  }

  .display-button{
    width: 150px;
    font-size: 13px;
    font-weight: 400;
    padding: 20px 20px;
  }
  

}


@media (max-width: 500px){
  .productdisplay-main-img{
    height: 300px;  
    width: 400px;
    
  } 

  .productdisplay-img img{
    width: 74px;
    height: 46px;    
    
  }
  
  .productdisplay-title h2{
    font-size: 30px;
    font-weight: 700;
  }

  .productdisplay-category{
    font-size: 17px;
  }

}