
.hero-section{
  
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
  
}

.hero-section-left{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 35%;
  position: relative;
  padding-top: 2rem;
}

.hero-section-left h3{
   
  
  white-space: nowrap; 
  color: #171717;
  font-size: 30px;
  font-weight: 600;
}

.hero-section-left h1{
  margin-top: 2rem;
  font-family: sans-serif;
  font-size: 96px;
  line-height: 106px;
  font-weight: 700;
  position: relative;
  white-space: nowrap;
  z-index: 20;
  
}

.hero-section-left .title-1{
  color: #05120f;
  
  

}

.hero-section-left .title-2{
  background-color: #ffffff36;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px #0000001a;

  

}

.hero-image-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}



.hero-image{
  object-fit: contain;
  position: relative;
  width: 900px;
}

@media (max-width: 1460px){
  .hero-image{
      width: 700px;
  }

  .hero-section-left h1{
  
    font-size: 72px;
    }
  
    
}



@media (max-width: 1024px){
  .hero-section{
    flex-direction: column;
    
    
    
  }
  
  

}


@media (max-width: 800px){
 
  .hero-section-left{
    width: 100%;
  }

  .hero-section-left br{
    display: none;
  }
  

  .hero-section-left h1{
    /* white-space: wrap; */
    font-size: 30px;
    margin-top: 0 auto;  
    
  }
  .hero-section-left h3{
    
    font-size: 20px;


  }

.hero-image{
    width: 700px;
}

}


@media (max-width: 800px){
  .hero-image{
    width: 90%;
    margin: 0 auto;
}

}


@media (max-width: 500px){

  .hero-section-left h1{
  
    font-size: 23px;
    }
  
    .hero-section-left h3{
    
      font-size: 15px;
  
  
    }

}

