

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-container{
  position: relative;
  background-color: #EEEEEE;
  padding: 2rem;
  z-index: 9999;
  margin: 2rem 0;
 }

.nav-main-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-second-section{
  display: none;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

li{
  list-style: none;
}

 a{
 color: black;
 text-decoration: none;
 
}

 li:hover a{
  color: blue;
}

.nav-third-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}



.relative{
  position: relative;
}

.cartCounter{
  position: absolute;
  right: 0;
  top: 0;
  width: 1.2rem;
  text-align: center;
  line-height: 1rem;
  font-size: 15px;
  font-weight: 600;
  border-radius: 999px;
  aspect-ratio: 1/1;
  background-color: black;
  color: white;
}

.counter-container{
  display: flex;
}

.login{
  display: flex;
  gap: 0.3rem;

}



.img-logo{
  width: 7rem;

}

.mobileMenu{
  width: 2.7rem;
  cursor: pointer;
  
}

.mobileUl{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  /* z-index: 999; */
  background-color: white;
  backdrop-filter: blur(10px);
  
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  

}


.mobileUl li {
  
  padding: 1rem;
  
  
}

.mobileUl a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  
}





.close-btn{
  width: 2rem;

}

.w-full{
  width: 50%;
}
.w-0{
  display: none;
}

.car-model-case{
  position: relative;
}

.car-model-case:hover .carmodel-dropdownmenu{
  display: block;
  
}

.carmodel-dropdownmenu{
  display: none;
  position: absolute;
  padding-top: 1rem 0.75rem;
  
  
}

.carmodel-list{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 9rem;
  padding: 1.5rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #EEEEEE;
  
}

.car-model-case:hover .carmodel-list a{
  color: black;
}

.carmodel-list a{
 
  padding: 0.5rem 0;
}

.carmodel-list a:hover{
  background-color: white;
}

@media (min-width: 1024px) {
  .nav-second-section{
    display: flex;
  }
  .mobileMenu{
   display: none;
  }
}

